<!-- adminProfile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <p>HomePage</p>
    
    <% data.forEach(movie => { %>
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full" src="/images/depositphotos_5743212-stock-photo-green-environment.jpg" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2"><%= movie.title%></div>
              <p class="text-gray-700 text-base">
                <%= movie.desc %>              
            </p>
            </div>
            <div class="px-6 pt-4 pb-2">
             <a href="/show"><span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Book</span></a>
            </div>
          </div>
    <% }) %>
    
    <a href="/register">Register</a>
</body>
</html>
